24 tests showing bytes downloaded before start render (first paint) from 265,480 Bytes Barack Obama page

* Ireland - EC2 Windows - Chrome - Native: 240,092 (90%)
* Amsterdam, NL - IISpeed - Chrome - Native: 174,559 (66%)
* Zurich, Switzerland - Chrome - Native: 174,560 (66%)
* South Africa - Chrome - Native: 100%
* Virginia USA - EC2 - Chrome - Native: 207,324 (78%)
* Nottingham, East Midlands, UK - Chrome - LTE: 100%
* Nottingham, East Midlands, UK - Chrome - Native : 162,642 (61%)
* Brussels, BE - Chrome - Native: 218,677 (82%)
* Sydney, Australia (Bulletproof Networks) - Chrome - FIOS: 100%
* Mumbai, India - EC2 - Chrome - Native:  162,640 (61%)
* Mumbai, India - EC2 - Chrome - Cable: 249,253 (94%)
* Istanbul, Turkey - Cloudeos - Opera - LTE: 100%
* South Africa - Chrome - 4G: 100%
* Stockholm, Sweden - Firefox - Native: 100%
* Stockholm, Sweden - Firefox - 3GSlow: 100%
* Prague, Czech Republic - Chrome - 3GFast: 100%
* Frankfurt, Germany - Dynatrace - Chrome - Cable: 100%
* Paris - EC2 - Chrome - 4G: 100%
* Dallas, TX - Chrome - 4G: 100%
* Dulles, VA - Firefox - 4G: 100%
* California - ScientiaMobile - Chrome - DSL: 100%
* Denver, Colorado USA - Chrome - Cable: 100%
* Virginia USA - EC2 - Chrome - DSL: 100%
* Virginia USA - EC2 - Chrome - 4G: 100%

1 test
Ireland - EC2 Windows - Chrome - Native on B8_polytope page: 48437 / 96375 = 50%
